---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
  post: CollectionEntry<"post">;
  withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time datetime={datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
<Element class="flex flex-col">
  <h3 class="mb-4 text-xl font-bold">{post.data.title}</h3>
  {
    withDesc && (
      <q class="line-clamp-3 block italic my-4 text-base font-medium">
        {post.data.description}
      </q>
    )
  }
  <a
    href={`/posts/${post.slug}/`}
    class="self-end border border-violet-600 p-2 rounded-lg bg-violet-400 text-white"
    rel="prefetch"
  >
    Leer</a
  >
</Element>
