---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
  post: CollectionEntry<"post">;
  withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<Element class="flex flex-col ontent-between h-fit">
  <div class="p-4">
    <time datetime={datetime} class="min-w-[120px] text-gray-500"
      >{postDate}</time
    >
    <h3 class="mb-4 text-xl font-bold">
      {post.data.title}
    </h3>
    {
      withDesc && (
        <q class="line-clamp-3 block italic my-4 text-base font-medium">
          {post.data.description}
        </q>
      )
    }
  </div>
  <a
    href={`/posts/${post.slug}/`}
    class="w-full border border-violet-600 py-2 text-center font-semibold rounded-sm bg-violet-400 text-white justify-self-end"
    rel="prefetch"
  >
    Leer entrada</a
  >
</Element>
