---
import type { SiteMeta } from "@/data/siteMeta";
import BaseHead from "@/components/BaseHead";
import ThemeProvider from "@/components/ThemeProvider";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import { siteConfig } from "@/site-config";

import { ViewTransitions } from "astro:transitions";

interface Props {
  meta: SiteMeta;
}

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
    <ViewTransitions />
  </head>
  <body>
    <div
      class="aspect-square h-18 bg-gradient-to-r from-pink-400 to-indigo-700 p-2"
    >
    </div>
    <ThemeProvider />
    <SkipLink />
    <Header />
    <main id="main" class="flex-1 p-4" transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
